# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.log
logs/
debug.log
error.log
.vscode/

# Editor Directories
.DS_Store
.idea/
.vscode/
*.swp

# OS-specific
Thumbs.db
